.imgWidth{
    max-width:100%
}
.div1{
    border:0px solid gray}
.m15Top{
    margin-top:15px;
}
.p5Bot{
    padding-bottom:5px;
}
.p20Bot{
    padding-bottom:20px;
}

.style1{
    width:25px;background:#5a5a5a
}
.style1{
    width:25px;background:white;}

.m15Rig    {
        margin-right:20px
    }